# Data Mess Around

In [6]:
import pandas as pd
import matplotlib as plt
import numpy as np
import scikitlearn

ModuleNotFoundError: No module named 'scikitlearn'

In [5]:
data = pd.read_csv("taipei_train.csv")
data

,district,total_ntd,land_area,main_building_material,building_area,num_room,num_hall,num_toilet,transaction_year,transaction_month,building_age
0,Xinyi District,79800000,527.00,Reinforced concrete construction,476.97,10,3,4,2019,9,1944.00
1,Wenshan District,15600000,46.77,Reinforced concrete construction,128.58,10,0,10,2019,10,1947.00
2,Neihu District,19000000,37.84,Reinforced concrete construction,148.65,9,0,9,2019,11,1949.00
3,Zhongshan Area,11500000,22.40,Reinforced concrete construction,75.96,7,0,7,2019,9,1951.00
4,Zhongshan Area,13980000,24.00,Reinforced concrete construction,73.75,7,2,3,2019,11,1951.00
...,...,...,...,...,...,...,...,...,...,...,...
1582,Datong District,5500000,2.21,Reinforced concrete construction,30.41,1,0,1,2019,12,1942.00
1583,Songshan District,1544000,2.56,Reinforced concrete construction,11.79,3,2,2,2018,12,1950.00
1584,shihlin,15000000,56.33,Reinforced concrete construction,61.34,2,2,2,2018,12,1942.00
1585,shihlin,15000000,29.75,Strengthen brickwork,73.06,3,2,1,2017,11,1952.02
1586,Daan District,15580000,14.58,Reinforced concrete construction,55.88,1,1,1,2015,6,1908.00